<h1>Tela de login em construção</h1>
<h3>clique abaixo para a tela de cadastro</h3>

<%= link_to '<button type="button" class="btn btn-primary"><i class="fa fa-clipboard"></i> Tela de cadastro</button>'.html_safe, customers_path %>